@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h3>Machines @Model.EngineerName has licence to repair: </h3>
<hr />
@if (Model.JoinEntities.Count == 0)
{
  <h5>@Model.EngineerName doesn't have any licences yet.</h5>    
}
else
{
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Machine.MachineName
      @using (Html.BeginForm("DeleteMachine", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <button class="btn btn-danger" type="submit">Remove this machine from @Model.EngineerName</button>
    }
      </li>
    }
  </ul>
}


<button class="btn btn-info">@Html.ActionLink("Back to list of Engineers", "Index")</button>
<button class="btn btn-dark">@Html.ActionLink($"Add machine to {Model.EngineerName}", "AddMachine", new { id = Model.EngineerId})</button>
<button class="btn btn-dark">@Html.ActionLink($"Edit info about {Model.EngineerName}", "Edit", new { id = Model.EngineerId})</button>
<button class="btn btn-danger">@Html.ActionLink("Remove this engineer", "Delete", new { id = Model.EngineerId })</button>
<button class="btn btn-success">@Html.ActionLink("Back to home page", "Index", "Home")</button>